{
    "banner": flse,
    "compactors": [
        "Herrera\\Box\\Compactor\\Json",
        "Herrera\\Box\\Compactor\\Php"
    ],
    "directories": ["src"],
    "finder": [
    {
        "exclude": [
            "phpunit",
            "Tester",
            "Tests",
            "tests",
            "doc",
            "docs",
            "vendor-bin"
        ],
        "in": "vendor"
    }
    ],
    "dump-autoload": true,
    "compression": "GZ",
    "chmod": "0755",
    "main": "bin/console-phar-example",
    "output": "console-phar-example.phar",
    "stub": true
}
